{{ define "user_list.html" }}
<!DOCTYPE html>
<html>
{{template "head.html"}}
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

{{template "header.html"}}

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
{{template "menu.html"}}

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <ol class="breadcrumb">
                            <span>当前页面：</span>
                            <li><a href="#">用户管理</a></li>
                            <li class="active">用户列表</li>
                        </ol>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>姓名</th>
                                <th>账号</th>
                                <th>产品</th>
                                <th>状态</th>
                                <th>可用时长</th>
                                <th>可用流量/MB</th>
                                <th>到期时间</th>
                                <th>并发数</th>
                                <th>是否绑定VLAN</th>
                                <th>是否绑定MAC</th>
                                <th>MAC地址</th>
                                <th>装机地址</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range . }}
                            <tr>
                                <td><input id="radio" type="radio" class="flat-red" name="radio" value="{{.RadUser.Id}}" /></td>
                                <td>{{.RadUser.RealName}}</td>
                                <td>{{.RadUser.UserName}}</td>
                                <td>{{.RadProduct.Name}}</td>
                                <td>
                                    {{if eq .RadUser.Status 1}}
                                        正常
                                    {{else if .RadUser.Status 2}}
                                        停机
                                    {{else if .RadUser.Status 3}}
                                        销户
                                    {{else if .RadUser.Status 4}}
                                        禁用
                                    {{end}}
                                </td>
                                <td>{{.RadUser.AvailableTime}}</td>
                                <td>{{.RadUser.AvailableFlow}}</td>
                                <td>{{.RadUser.ExpireTime | formatDateTime}}</td>
                                <td>{{.RadUser.ConcurrentCount}}</td>
                                <td>
                                    {{if eq .RadUser.ShouldBindVlan 1}}
                                        绑定
                                    {{else}}
                                        不绑定
                                    {{end}}</td>
                                <td>
                                    {{if eq .RadUser.ShouldBindMacAddr 1}}
                                        绑定
                                    {{else}}
                                        不绑定
                                    {{end}}
                                </td>
                                <td>{{.RadUser.MacAddr}}</td>
                                <td>{{.RadUser.InstalledAddr}}</td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        {{template "page.html"}}
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- footer -->
{{template "footer.html"}}
</div>
<!-- ./wrapper -->

</body>
</html>
{{end}}