{{ define "index.html" }}
<!DOCTYPE html>
<html>
  {{template "head.html"}}
  <body class="hold-transition skin-blue sidebar-mini">
  <!-- Site wrapper -->
<div class="wrapper">

  {{template "header.html"}}

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  {{template "menu.html"}}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
          <div class="box box-default">
              <div class="box-header with-border">
                  <ol class="breadcrumb">
                      <span>当前页面：</span>
                      <li><a href="#">基础资料</a></li>
                      <li><a href="#">用户管理</a></li>
                      <li class="active">用户信息列表</li>
                  </ol>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                Footer
              </div>
              <!-- /.box-footer-->
          </div>
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- footer -->
  {{template "footer.html"}}
</div>
<!-- ./wrapper -->

</body>
</html>
{{end}}